{%extends "base.html" %}
{%block title%}Amnesty map{%endblock%}
{%block css%}
<link rel="stylesheet" type="text/css" href="/static/css/leaflet.css" />
<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
<!--[if lte IE 8]>
<link rel="stylesheet" href="/static/css/leaflet.ie.css" />
<![endif]-->
{%endblock%}
{%block js%}
<script type="text/javascript" src="/static/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/static/js/leaflet.js"></script>
<script type="text/javascript" src="/static/js/maphelpers.js"></script>
{%endblock%}
{%block body%}
<div id="fb-root"></div>
<div id="main-container">
<div id="header">
<a href="/"><img src="/static/img/header-logo-en.png"></a>
<div id="right-head">
<iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/follow_button.1337330192.html#_=1338721782706&amp;id=twitter-widget-18&amp;lang=en&amp;preview=true&amp;screen_name=AmnestyOnline&amp;show_count=false&amp;show_screen_name=true&amp;size=l" class="twitter-follow-button" style="width: 193px; height: 28px; " title="Twitter Follow Button"></iframe>

<iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.1337330192.html#_=1338722169963&amp;count=horizontal&amp;id=twitter-widget-50&amp;lang=en&amp;original_referer=https%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons%23tweet&amp;size=l&amp;text=%23issue&amp;url=http%3A%2F%2Fwww.amnesty.org&amp;via=AmnestyOnline" class="twitter-share-button twitter-count-horizontal" style="width: 140px; height: 28px; " title="Twitter Tweet Button"></iframe>
</div>
</div>
<div id="content">
{%block content%}
{%endblock%}
</div>
<div id="footer">
<p>&copy; Developed by MapGuys</p>
</div>
</div>
{%endblock%}
