body {
font-family: Arial;
font-size: 0.8em;
font-weight: bold;
background-color: #000;
}

#main-container{
width: 1000px;
margin: 20px auto;
}

#header {
padding-top:10px;
/*background-image:url('/static/img/header-logo-en.png');*/
background-repeat:no-repeat;
background-color: #ffff00;
/*height: 90px;*/
margin-bottom: 10px;
overflow: auto;
}

#content {
overflow: auto;
background-color: #fff;
}

#right-head {
float:right;
}


#footer {
background-color: #ffff00;
margin-top: 10px;
text-align: center;
}
