﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  <title>{%block title%}{%endblock%}</title>
  {%block css%}
{%endblock%}
{%block js%}
{%endblock%}
</head>
<body>
{%block body%}
{%endblock%}
</body>
</html>
